<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="chrome-webstore-item"
	href="https://chrome.google.com/webstore/detail/akibhpdlinfcelalimeibjcdolmfifel">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Uneddit Reddit Chrome Extension - {{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>
    <script type="text/javascript">
    function installExtension() {
	chrome.webstore.install();
    }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">
	<a href="{{ site.baseurl }}">
	<img src="{{ site.baseurl }}/images/icon128.png" class="header" />
	</a>
	</h1>
        <p class="header">Chrome Extension for Uneddit Reddit</p>

        <ul>
          <li class="download"><a class="add-chrome" href="javascript:installExtension()">Add to Chrome</a></li>
          <li class="download"><a class="buttons" href="https://github.com/meandthewallaby/UnedditExtension/archive/master.zip">Download ZIP</a></li>
          <li><a class="buttons github" href="https://github.com/meandthewallaby/UnedditExtension">View On GitHub</a></li>
        </ul>

      </header>
      <section>
	<h3>{{ page.title }} </h3>
	<div class="posted-date">Posted {{ page.date }}</div>
	<div class="post-content">
	{{ content }}
	</div>
      </section>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37467126-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
